name: CI-CD-Flask_pipeline-to-Beanstalk
#Envirements Declaration
env:
  EB_PKG_S3: "my-flask-app"
  EB_APP_NAME: "MyFlaskApp"
  EB_ENV_NAME: "MyFlaskApp-env"
  DEPLOY_PKG_NAME: "my-flask-app_${{ github.sha }}.zip"
  AWS_REGION: "eu-central-1"

on:
  push:
    branches: [ master ]
#  pull_request:
#    branches: [ master ]

jobs:
  myFlaskCI-Job:
    runs-on: ubuntu-latest
    
    steps:
    - name: Git clone the repo
      uses: actions/checkout@v2

    - name: Create ZIP package
      run: zip -r ${{ env.DEPLOY_PKG_NAME }} ./ -x *.git*
